http:
  middlewares:
    redirect-to-https:
      redirectScheme:
        scheme: https
        permanent: true

  routers:
    ui:
      rule: Host(`ui.localhost`)
      service: ui-service
      entryPoints:
        - web

  services:
    ui-service:
      loadBalancer:
        servers:
          - url: http://portfolio-ui:80

tls:
  options:
    default:
      minVersion: VersionTLS12
